[submodule ".quartz/plugins/alias-redirects"]
	path = .quartz/plugins/alias-redirects
	url = https://github.com/quartz-community/alias-redirects.git
	commit = 47bcaa12c3a41d00408c7d69f352fb1cd07d6984
[submodule ".quartz/plugins/article-title"]
	path = .quartz/plugins/article-title
	url = https://github.com/quartz-community/article-title.git
	commit = ef6fb917cbea694bcae1df15d376426eb439b20e
[submodule ".quartz/plugins/backlinks"]
	path = .quartz/plugins/backlinks
	url = https://github.com/quartz-community/backlinks.git
	commit = a67b9f8674646264a2ef59df209fc68734be56a3
[submodule ".quartz/plugins/breadcrumbs"]
	path = .quartz/plugins/breadcrumbs
	url = https://github.com/quartz-community/breadcrumbs.git
	commit = 90275dde5bdc118d82d93c43ad39192744d09e9d
[submodule ".quartz/plugins/cname"]
	path = .quartz/plugins/cname
	url = https://github.com/quartz-community/cname.git
	commit = dc614c027cac228eec1d9c208d2185b4351f6d5a
[submodule ".quartz/plugins/content-index"]
	path = .quartz/plugins/content-index
	url = https://github.com/quartz-community/content-index.git
	commit = 25b1ceccff4fd3e29398995f4424f3bb1e9b0d47
[submodule ".quartz/plugins/content-meta"]
	path = .quartz/plugins/content-meta
	url = https://github.com/quartz-community/content-meta.git
	commit = 59bf8dce1e57bc14aaa8c1bee3d9fcb6b5914096
[submodule ".quartz/plugins/content-page"]
	path = .quartz/plugins/content-page
	url = https://github.com/quartz-community/content-page.git
	commit = 74691eb787d60f4e095ae0938d7ef361783e4bbf
[submodule ".quartz/plugins/crawl-links"]
	path = .quartz/plugins/crawl-links
	url = https://github.com/quartz-community/crawl-links.git
	commit = 375a967987db7d588763404754606c121a1bf28a
[submodule ".quartz/plugins/created-modified-date"]
	path = .quartz/plugins/created-modified-date
	url = https://github.com/quartz-community/created-modified-date.git
	commit = 2ce2009b6f34e096a6c2867022872d3f943e692b
[submodule ".quartz/plugins/description"]
	path = .quartz/plugins/description
	url = https://github.com/quartz-community/description.git
	commit = 603fff35d328abe18aa641f14cde34f5e63986a9
[submodule ".quartz/plugins/explorer"]
	path = .quartz/plugins/explorer
	url = https://github.com/quartz-community/explorer.git
	commit = 039576f5b2353f34c771a658d76500970a4ec10f
[submodule ".quartz/plugins/favicon"]
	path = .quartz/plugins/favicon
	url = https://github.com/quartz-community/favicon.git
	commit = 26147929bce4a58e47f769ffc5af5549128acd35
[submodule ".quartz/plugins/folder-page"]
	path = .quartz/plugins/folder-page
	url = https://github.com/quartz-community/folder-page.git
	commit = c72a92f00daa22b4c88ae688a4c2dca5d458a727
[submodule ".quartz/plugins/footer"]
	path = .quartz/plugins/footer
	url = https://github.com/quartz-community/footer.git
	commit = 6e35f3d49c0b161fd169116853944af3606fb2ad
[submodule ".quartz/plugins/github-flavored-markdown"]
	path = .quartz/plugins/github-flavored-markdown
	url = https://github.com/quartz-community/github-flavored-markdown.git
	commit = 9ff4013b9694e596ca3046f940a2cb81ea327459
[submodule ".quartz/plugins/graph"]
	path = .quartz/plugins/graph
	url = https://github.com/quartz-community/graph.git
	commit = 2e76c04a1bfd973eef75a84cba988919f05a61eb
[submodule ".quartz/plugins/latex"]
	path = .quartz/plugins/latex
	url = https://github.com/quartz-community/latex.git
	commit = 971106760ab275f9384fd9b7596fbe81f340c234
[submodule ".quartz/plugins/note-properties"]
	path = .quartz/plugins/note-properties
	url = https://github.com/quartz-community/note-properties.git
	commit = c19c7c1c3ef2d68b897f02ec997ebfeb0c501d38
[submodule ".quartz/plugins/obsidian-flavored-markdown"]
	path = .quartz/plugins/obsidian-flavored-markdown
	url = https://github.com/quartz-community/obsidian-flavored-markdown.git
	commit = 2d428191b3a51d73a5ec2201405c2f531fcd97ba
[submodule ".quartz/plugins/og-image"]
	path = .quartz/plugins/og-image
	url = https://github.com/quartz-community/og-image.git
	commit = 72abbbcf642843acf657b8ccdcdc0bf3caef9eea
[submodule ".quartz/plugins/page-title"]
	path = .quartz/plugins/page-title
	url = https://github.com/quartz-community/page-title.git
	commit = d9145513d2e11a3f8dc5d174662e9d46b4b3fa0c
[submodule ".quartz/plugins/recent-notes"]
	path = .quartz/plugins/recent-notes
	url = https://github.com/quartz-community/recent-notes.git
	commit = f4ce0c9b55d75cff9c198e5e1cee027bdf3bf4ab
[submodule ".quartz/plugins/remove-draft"]
	path = .quartz/plugins/remove-draft
	url = https://github.com/quartz-community/remove-draft.git
	commit = c4d350d4a3d4d4dc4386576e6029fe7acb09e4d3
[submodule ".quartz/plugins/search"]
	path = .quartz/plugins/search
	url = https://github.com/quartz-community/search.git
	commit = 245cb32b1f68cc00dc3bb3a35f34d9d71db8ada5
[submodule ".quartz/plugins/spacer"]
	path = .quartz/plugins/spacer
	url = https://github.com/quartz-community/spacer.git
	commit = dc7bd96f0b27d627262da61435a37b46b9cde0bc
[submodule ".quartz/plugins/syntax-highlighting"]
	path = .quartz/plugins/syntax-highlighting
	url = https://github.com/quartz-community/syntax-highlighting.git
	commit = f594ea0a27604ab2a6534ec3b1ca39fb552f5641
[submodule ".quartz/plugins/table-of-contents"]
	path = .quartz/plugins/table-of-contents
	url = https://github.com/quartz-community/table-of-contents.git
	commit = 519528986a6732d1d3ca3565c2c1edfb355d6d71
[submodule ".quartz/plugins/tag-list"]
	path = .quartz/plugins/tag-list
	url = https://github.com/quartz-community/tag-list.git
	commit = 5ca7ba025fc9225de59c8c95600974c232158b2f
[submodule ".quartz/plugins/tag-page"]
	path = .quartz/plugins/tag-page
	url = https://github.com/quartz-community/tag-page.git
	commit = f104a56e8399a5a757856a803bd7e5f584a84fb6