# OBSIDIAN_SOURCE_GIT_URL=https://github.com/benatouba/vivere.git
# OBSIDIAN_SOURCE_GIT_REF=main
# OBSIDIAN_SOURCE_GIT_TOKEN=your_github_token_here
# Optional if notes are in a subfolder of the repo. Default is .
# OBSIDIAN_SOURCE_SUBDIR=.
# Optional entry note file name. Default is index.md
# OBSIDIAN_SOURCE_ENTRY_NOTE=index.md
